table {
  margin-top: 10px;
  width: 65%;
  text-align: center;
}
tr {
  width: 100%;
}
th {
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #CCC;
}
td:nth-child(2) {
  width: 60%;
}
td:nth-child(1), td:nth-child(3) {
  width: 20%;
}
tr td {
  /* background-color: red; */
  border-bottom: 1px solid black;
}
.book__title {
  font-weight: bold;
}
.book__author {
  font-style: italic;
}
.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}