.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #ecf0f1;
  margin-top: 10px;
}
.title {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.category {
  text-align: center;
  width: 45%;
}