.burger {
  display:none;
  position:relative;
  padding:0;
  width:45px;
  height:45px;
  border:none;
  background:transparent;
  cursor:pointer;
}
.bar {
  display:block;
  width:45px;
  height:4px;  
  border-radius:3px;
  background-color: white; 
  transition: all .5s ease-in-out;   
}
.bar::before, .bar::after {
  content:"";
  width:45px;
  height:4px;
  position:absolute; 
  left:0;  
  background-color: white; 
  border-radius:3px;    
  transition: all .5s ease-in-out;
}
.bar::before {
  transform:translateY(-8px)
}
.bar::after {
  transform:translateY(8px)
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}